@page
@using Microsoft.AspNetCore.Html
@model IndexModel
@{
    ViewData["Title"] = "PL";
}

<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/treeflex/dist/css/treeflex.css">
    </head>
    <body>
<div class="text-center">
    <h1 class="display-4">Vyrokova logika</h1>

     

    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "TheForm" }))
    {
        @Html.DropDownList( "formula", 
        Model.listItems, "select formula"
    ) 
    @Html.TextBox("UserInput", "", new { @maxlength = "64" });

    <input type='submit' class="btn btn-primary" value='Create tree' />
    }
    @if (Model.ConvertedTree != null)
        {
            
                HtmlString msg = new HtmlString(Model.ConvertedTree);
                HtmlString msg1 = new HtmlString(Model.TautologyDecision);
                <p> @msg1  </p>
                <p> @msg  </p>
        }
       </body>
</div>
</html>