html, body {
    width: 100%;
    height: auto;
}

svg {
    width: 800px;
    height: 600px;
    transform: translate(250px, -800px);
    pointer-events: none;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%
}

table {
    width: 30%;
    border-collapse: collapse;
    border: 1px solid black; 
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid black;
    padding: 1px;
    text-align: left;
}

th {
    background-color: lightgray;
}

.square-div {
    width: 100%;
    float: left;
    padding: 10px;
    background-color: #c8e6c9;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
}

